<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="515" MadCap:lastWidth="624">
    <head>
    </head>
    <body>
        <h2 class="chapter">
            <MadCap:keyword term="Afrikaans" />Afrikaans <img alt="Flag of South Africa" src="../../Resources/Images/flags/south_africa.gif" height="30" border="0" title="Flag of South Africa" class="flag" /></h2>
        <p>More explanation to go here.</p>
        <p><a href="Afrikaans_-_basic.htm">Afrikaans - basic</a>
        </p>
        <p>For more technical information about the related language table <a href="../../language_translation_tables/afrikaans.htm">click here.</a></p>
        <hr />
        <h6>Historical Information</h6>
        <p><a href="../../language_translation_tables/afrikaans_preunified.htm">Afrikaans, Preunified</a>
        </p>
        <hr />
        <h5 class="normal">Also Spoken</h5>
        <p>In addition there are also 10 official languages spoken, as follows:</p>
        <p><a href="ENGLISH.htm">English (Unified)</a>
        </p>
        <p><a href="NDEBELE.htm">Ndebele</a>
        </p>
        <p><a href="XHOSA.htm">Xhosa</a>
        </p>
        <p><a href="ZULU.htm">Zulu</a>
        </p>
        <p>Sotho sa Leboa</p>
        <p><a href="SOTHO.htm">Sotho</a>
        </p>
        <p><a href="TSWANA.htm">Tswana</a>
        </p>
        <p><a href="SWATI.htm">Swati</a>
        </p>
        <p><a href="VENDA.htm">Venda</a>
        </p>
        <p><a href="TSONGA.htm">Tsonga</a>
        </p>
    </body>
</html>