<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="651" MadCap:lastWidth="389">
    <head>
    </head>
    <body>
        <h2 class="chapter">
            <MadCap:keyword term="Albanian" />Albanian <img alt="Flag of Albania" src="../../Resources/Images/flags/albania.gif" height="30" border="0" title="Flag of Albania" class="flag" /></h2>
        <p>There is only one Template for Albanian. </p>
        <p><a href="Albanian_-_basic.htm">Albanian - basic</a>
        </p>
        <hr />
        <p>The following file provides technical information concerning the braille table which is used.</p>
        <p><a href="../../language_translation_tables/albanian.htm">ALBANIAN - Technical</a>
        </p>
        <hr />
        <h5>SPECIAL REQUIREMENTS AND LIMITATIONS</h5>
        <p>Although DBT is able to display accented letter combinations, it is nevertheless better to use Microsoft Word or Open Office for entering and editing print text, which can then be imported into DBT for subsequent translation.</p>
        <p>When preparing the text in Word (or Open Office), be sure to use a Unicode font (such as Lucida Sans or Times Roman), so that the underlying characters are encoded in Unicode. (Note that the appearance on screen is not the issue. Fonts that merely cause standard ASCII characters to be displayed as the desired accented letters will not work, because they will be imported according to their standard interpretation, not their appearance.) To recognize a non-Unicode font, open a file in Word, highlight a sentence and apply the font Times Roman. If the sentence is no longer readable, you have been using a non-Unicode font.</p>
    </body>
</html>