<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="321" MadCap:lastWidth="597">
    <head>
    </head>
    <body>
        <h1>
            <MadCap:keyword term="Amharic" />Amharic <img alt="Flag of Ethiopia" src="../../Resources/Images/flags/ethiopia.gif" height="30" border="0" title="Flag of Ethiopia" /></h1>
        <p>Amharic is the official language of Ethiopia.</p>
        <p><a href="Amharic_-_basic.htm">Amharic - basic.htm</a>
        </p>
        <p><a href="../../language_translation_tables/amharic.htm">AMHARIC</a>
        </p>
        <h5>Additional Languages</h5>
        <p>There are many minority languages spoken in Ethiopia. DBT supports the following:</p>
        <p><a href="SOMALI.htm">Somali</a>
        </p>
        <p><a href="TIGRINIA.htm">Tigrinia</a>
        </p>
    </body>
</html>