<?xml version="1.0" encoding="utf-8"?>
<html lang="en" xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="4" MadCap:lastHeight="1346" MadCap:lastWidth="710">
    <head><title>Arabic - basic</title>
        <link href="../../Resources/Stylesheets/DuxHelp.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>
            <MadCap:keyword term="Arabic" />Arabic <img alt="Flag of Arab World" src="../../Resources/Images/flags/egypt.gif" height="30" border="0" title="Flag of Arab World" /></h1>
        <p>You are seeing this page since the DBT Template you selected is <b>Arabic - basic</b>.</p>
        <p>When you open (import) a file into Duxbury DBT, you have an opportunity to select a DBT Template. If you select a default Template, then you do not have to select a Template each time you open a file. Once you highlight the name of a DBT Template, you can click on the button that says <b>Select Template as Default</b>.</p>
        <hr />
        <p>This is a basic DBT Template. <a href="basic.htm">Click here for more information about Basic Templates</a></p>
        <hr />
        <p>This DBT Template is designed to produce material written in the <b>Arabic</b> language.</p>
        <p>If the text you are producing into braille is written in a different language, then you need to select a different DBT Template.</p>
        <hr />
        <p><a href="../../language_translation_tables/Arabic.htm">Click here for more help on the DBT translator used by Arabic - basic</a>
        </p>
        <h3>Arabic Translation Systems</h3>
        <p>There was a widely used system for Arabic braille. It was supplanted by the new system organized in Saudi Arabia in October 2002. The DBT Template <b>Arabic - basic</b> uses the 2002 system.</p>
        <p>DBT can be used to produce braille according to the older system if you prefer. Here are the steps:</p>
        <ul>
            <li>Open a new Document in DBT using the <b>Arabic - basic</b> Template.</li>
            <li>Do not enter any text</li>
            <li>From the <b>Document</b> Menu, choose <b>Translation Table</b>, and select <b>Arabic (pre-2002 rules)</b></li>
            <li>From the <b>Document</b> Menu, choose <b>Create Template</b></li>
            <li>Decide if you are going to change the existing Arabic Template or create an additional Template</li>
            <li>In general, you want to select <b>dbt</b> as your <b>Word Style Map</b></li>
        </ul>
        <p>From now on, use the new or modified DBT Template, and you will get the older braille translation system.</p>
        <h3>Contracted Braille</h3>
        <p>This language is usually produced in <b>contracted</b> braille. This means that words are not produced in braille on a one-for-one basis. There are abbreviations or contractions in the text. If you have questions about how braille is produced, please contact a member of your local braille authority.</p>
        <p>Sometimes, you may want to produce uncontracted braille. This is easy to do with DBT. Before translation into braille, go to the top of the document in DBT, and issue the command <b>Alt-1</b>. When you translate into braille, the braille will be uncontracted</p>
        <h3>Non-Roman Script</h3>
        <p>This language is written in a script other than the Roman alphabet. This may result in problems when importing files into DBT. Your best bet is to import files from Microsoft Word or Open Office that are written in a Unicode font. You can contact support at Duxbury Systems if you have a file which does not import properly into DBT. Please send the file which does not import (the original inkprint file), not a screen shot of DBT.</p>
        <p>Duxbury Systems strives to work with users to make sure that our software works with as many file formats as possible. Contact us if you have any concerns.</p>
        <p>This language is written in a script that goes from right-to-left.</p>
        <p>Duxbury DBT does not yet properly handle scripts that are read from right-to-left for editing purposes. you can open (import) a file, and you can translate into braille. But you cannot edit the inkprint within DBT. We regret this and hope to correct this issue in a later release of DBT.</p>
        <hr />
        <h3>Sample Microsoft Word file</h3>
        <p>For a sample Word file in this language, open this URL:</p>
        <p><b>http://www.duxburysystems.com/samples/arabic-ar.docx</b>
        </p>
        <p> in your browser. That is, clipboard the URL into your browser to open the Word file.</p>
        <hr />
        <p>E-mail <a href="mailto:languages@duxsys.com">languages@duxsys.com</a> for suggestions on improving DBT braille translators (or requesting a translator for a new language).</p>
        <p>E-mail <a href="mailto:support@duxsys.com">support@duxsys.com</a> for software support issues related to Duxbury DBT.</p>
        <hr />
        <p><a href="Templates_Docs/all_templates.htm">Click here to select a different DBT Template.</a>
        </p>
    </body>
</html>