<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="132" MadCap:lastWidth="624">
    <head>
    </head>
    <body>
        <h1>
            <MadCap:keyword term="Armenian" />Armenian</h1>
        <p><a href="Armenian_(Eastern)_-_basic.htm">Armenian_(Eastern)_-_basic.htm</a>
        </p>
        <p><a href="../../language_translation_tables/armenian_eastern.htm">ARMENIAN Eastern - Technical</a>
        </p>
        <p><a href="Armenian_(Western)_-_basic.htm">Armenian_(Western)_-_basic.htm</a>
        </p>
        <p><a href="../../language_translation_tables/armenian_western.htm">ARMENIAN Western - Technical</a>
        </p>
    </body>
</html>