<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="127" MadCap:lastWidth="423">
    <head>
    </head>
    <body>
        <h2 class="chapter">
            <MadCap:keyword term="Belarusian" />Belarusian <img alt="Belarusian Flag" src="../../Resources/Images/flags/belarus.gif" border="0" style="width: 45px; height: 30px;" title="Belarusian Flag" class="flag" /></h2>
        <p><a href="Belarusian_-_basic.htm">Belarusian_-_basic.htm</a>
        </p>
        <p><a href="../../language_translation_tables/belarusian.htm">BELARUSIAN - Technical</a>
        </p>
    </body>
</html>