<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="246" MadCap:lastWidth="624">
    <head>
    </head>
    <body>
        <h2>
            <MadCap:keyword term="Bengali" />Bengali <img alt="Flag of Bangladesh" src="../../Resources/Images/flags/bangladesh.gif" height="30" border="0" title="Flag of Bangladesh" class="flag" />&#160;<img alt="Flag of India" src="../../Resources/Images/flags/india.gif" height="30" border="0" title="Flag of India" class="flag" /></h2>
        <p>&#160;</p>
        <hr />
        <p><a href="Bengali_(Bangladeshi)_-_basic.htm">Bengali_(Bangladeshi)_-_basic.htm</a>
        </p>
        <p><a href="../../language_translation_tables/bengali_bangladesh.htm">BENGALI - Bangladesh (India)</a>
        </p>
        <hr />
        <p><a href="Bengali_(Indian)_-_basic.htm">Bengali_(Indian)_-_basic.htm</a>
        </p>
        <p><a href="Bengali_(Indian)_-_basic_with_Nemeth.htm">Bengali_(Indian)_-_basic_with_Nemeth.htm</a>
        </p>
        <p><a href="../../language_translation_tables/bengali_india.htm">BENGALI (India) - Technical</a>
        </p>
    </body>
</html>