<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="184" MadCap:lastWidth="813">
    <head>
    </head>
    <body>
        <h2 class="chapter">
            <MadCap:keyword term="Bhojpuri" />Bhojpuri <img alt="Flag of India" src="../../Resources/Images/flags/india.gif" height="30" border="0" title="Flag of India" class="flag" /></h2>
        <p><a href="Bhojpuri_-_basic.htm">Bhojpuri_-_basic.htm</a>
        </p>
        <p><a href="Bhojpuri_-_basic_with_Nemeth.htm">Bhojpuri_-_basic_with_Nemeth.htm</a>
        </p>
        <hr />
        <p><a href="../../language_translation_tables/bhojpuri.htm">BHOJPURI - Technical</a>
        </p>
    </body>
</html>