<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="156" MadCap:lastWidth="813">
    <head>
    </head>
    <body>
        <h2 class="chapter">
            <MadCap:keyword term="Bulgarian" />Bulgarian <img src="../../Resources/Images/flags/bulgaria.gif" alt="Flag of Bulgaria" style="width: 45px;height: 30px;border-left-style: solid;border-left-width: 1px;border-left-color: ;border-right-style: solid;border-right-width: 1px;border-right-color: ;border-top-style: solid;border-top-width: 1px;border-top-color: ;border-bottom-style: solid;border-bottom-width: 1px;border-bottom-color: ;" width="45" height="30" border="1" title="Flag of Bulgaria" class="flag" /></h2>
        <p><a href="Bulgarian_-_basic.htm">Bulgarian - basic.htm</a>
        </p>
        <hr />
        <p><a href="../../language_translation_tables/bulgarian.htm">BULGARIAN - Technical</a>
        </p>
    </body>
</html>