<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="112" MadCap:lastWidth="624">
    <head>
    </head>
    <body>
        <h2 class="chapter">
            <MadCap:keyword term="Burmese" />Burmese <img alt="Flag of Myanmar (Formerly Burma)" src="../../Resources/Images/flags/myanmar.gif" border="0" title="Flag of Myanmar (Formerly Burma)" class="flag" /></h2>
        <p><a href="Burmese_-_basic.htm">Burmese_-_basic.htm</a>
        </p>
        <hr />
        <p><a href="../../language_translation_tables/burmese.htm">BURMESE - Technical</a>
        </p>
    </body>
</html>