<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="92" MadCap:lastWidth="624">
    <head>
    </head>
    <body>
        <h2 class="chapter">
            <MadCap:keyword term="Cebuano" />Cebuano <img src="../../Resources/Images/flags/Philippines.gif" alt="Flag of The Philippines" height="30" border="0" title="Flag of The Philippines" class="flag" /></h2>
        <p><a href="Cebuano_-_basic.htm">Cebuano_-_basic.htm</a>
        </p>
        <p><a href="../../language_translation_tables/cebuano.htm">CEBUANO - Technical</a>
        </p>
    </body>
</html>