<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="280" MadCap:lastWidth="389">
    <head>
    </head>
    <body>
        <h2 class="chapter">
            <MadCap:keyword term="Chinese" />Chinese <img src="../../Resources/Images/flags/china.gif" class="flag" alt="Chinese Flag" title="Chinese Flag" /></h2>
        <p><a href="Chinese_for_Taiwan_-_basic.htm">Chinese_for_Taiwan_-_basic.htm</a>
        </p>
        <p><a href="../../language_translation_tables/chinese_taiwan.htm">CHINESE - Taiwan - Technical</a>
        </p>
        <p><a href="Chinese_Mandarin_-_basic.htm">Chinese_Mandarin_-_basic.htm</a>
        </p>
        <p><a href="Chinese_Mandarin_with_tones_-_basic.htm">Chinese_Mandarin_with_tones_-_basic.htm</a>
        </p>
        <p><a href="../../language_translation_tables/chinese_mandarin.htm">CHINESE - Mandarin - Technical</a>
        </p>
        <p><a href="Chinese_Yue_(Cantonese)_-_basic.htm">Chinese_Yue_(Cantonese)_-_basic.htm</a>
        </p>
        <p><a href="../../language_translation_tables/chinese_yue.htm">CHINESE - Yue - Technical</a>
        </p>
    </body>
</html>