<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="117" MadCap:lastWidth="624">
    <head>
    </head>
    <body>
        <h2 class="chapter">
            <MadCap:keyword term="Chuvash" />Chuvash <img src="../../Resources/Images/flags/russia.gif" alt="Russian Flag" height="30" border="0" title="Russian Flag" class="flag" style="border-left-style: solid;border-left-width: 0.5px;border-right-style: solid;border-right-width: 0.5px;border-top-style: solid;border-top-width: 0.5px;border-bottom-style: solid;border-bottom-width: 0.5px;" /><img src="../../Resources/Images/flags/chuvash.jpg" title="Chuvash Flag" alt="Chuvash Flag" style="width: 49px;height: 29px;" class="flag" /></h2>
        <p><a href="Chuvash_-_basic.htm">Chuvash - basic</a>
        </p>
        <hr />
        <p><a href="../../language_translation_tables/chuvash.htm">CHUVASH - Technical</a>
        </p>
    </body>
</html>