<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="154" MadCap:lastWidth="813">
    <head>
    </head>
    <body>
        <h2 class="chapter">
            <MadCap:keyword term="Croatian" />Croatian <img alt="Flag of Croatia" src="../../Resources/Images/flags/croatia.gif" height="30" border="0" title="Flag of Croatia" class="flag" /></h2>
        <p><a href="Croatian_-_basic.htm">Croatian - basic.htm</a>
        </p>
        <hr />
        <p><a href="../../language_translation_tables/croatian.htm">CROATIAN - Technical</a>
        </p>
    </body>
</html>