<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="244" MadCap:lastWidth="813">
    <head>
    </head>
    <body>
        <h2 class="chapter">
            <MadCap:keyword term="Welsh" />
            <MadCap:keyword term="Cymraeg" />CYMRAEG (WELSH) <img src="../../Resources/Images/flags/wales.gif" alt="Welsh Flag" style="width: 50px; height: 30px;" width="50" height="30" border="0" class="flag" /></h2>
        <p><a href="Cymraeg_(Welsh)_-_basic.htm">Cymraeg (Welsh) - basic</a>
        </p>
        <p><a href="Cymraeg_(Welsh)_-_UK_Formatting.htm">Cymraeg (Welsh) - UK_Formatting</a>
        </p>
        <hr />
        <p><a href="../../language_translation_tables/welsh.htm">WELSH - Technical</a>
        </p>
        <p><a href="../../language_translation_tables/welsh_capitals.htm">WELSH - Capitals - Technical</a>
        </p>
        <p>&#160;</p>
    </body>
</html>