<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="154" MadCap:lastWidth="813">
    <head>
    </head>
    <body>
        <h2 class="chapter">
            <MadCap:keyword term="DANISH" />DANISH <img src="../../Resources/Images/flags/dk.gif" alt="Danish Flag" height="30" border="0" title="Danish Flag" class="flag" />&#160;<img src="../../Resources/Images/flags/greenland.gif" title="Flag of Greenland" alt="Flag of Greenland" style="width: 36px;height: 28px;border-left-style: solid;border-left-width: 1px;border-left-color: ;border-right-style: solid;border-right-width: 1px;border-right-color: ;border-top-style: solid;border-top-width: 1px;border-top-color: ;border-bottom-style: solid;border-bottom-width: 1px;border-bottom-color: ;" class="flag" /></h2>
        <p><a href="Danish_-_basic.htm">Danish - basic</a>
        </p>
        <hr />
        <p><a href="../../language_translation_tables/danish.htm">DANISH - Technical</a>
        </p>
    </body>
</html>