<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="154" MadCap:lastWidth="813">
    <head>
    </head>
    <body>
        <h2 class="chapter">
            <MadCap:keyword term="DZONGKHA" />DZONGKHA <img alt="Bhutan Flag" src="../../Resources/Images/flags/bhutan.gif" height="30" border="0" title="Bhutan Flag" class="flag" /></h2>
        <p><a href="Dzongkha_-_basic.htm">Dzongkha - basic</a>
        </p>
        <hr />
        <p><a href="../../language_translation_tables/dzongkha.htm">DZONGKHA - Technical</a>
        </p>
    </body>
</html>