<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="5" MadCap:lastHeight="1116" MadCap:lastWidth="384">
    <head>
    </head>
    <body>
        <h1>English</h1>
        <h2 class="NoNewPage">Unified English Braille (UEB)</h2>
        <p>The most major change to English braille has been the adoption of Unified English Braille code (UEB) by the world's major English speaking countries.</p>
        <p>The single most beneficial aspect of UEB is a code which is the same wherever produced.</p>
        <p>It should be stressed at the outset however, that UEB is a braille Code only. It specifically does not affect any braille layout recommended or advised by national braille authorities.</p>
        <p>There are currently six UEB Templates as follows. If you are unsure which to use, we would suggest using the "English (UEB)&#160;- basic" Template</p>
        <p><a href="English_(UEB)_-_Australian_formatting.htm">English (UEB) - Australian Formatting</a>
        </p>
        <p><a href="English_(UEB)_-_BANA.htm">English (UEB) - BANA</a>
        </p>
        <p><a href="English_(UEB)_-_BANA_with_Nemeth.htm">English (UEB) - BANA with Nemeth</a>
        </p>
        <p><a href="English_(UEB)_-_basic.htm">English (UEB) - Basic</a>
        </p>
        <p><a href="English_(UEB)_-_New_Zealand_(including_Maori).htm">English (UEB) - New Zealand (including Maori)</a>
        </p>
        <p><a href="English_(UEB)_-_UK_formatting.htm">English (UEB) - UK_formatting.htm</a>
        </p>
        <h2 class="NoNewPage">English (Pre UEB)</h2>
        <p>During the transition to UEB, the following Templates may be used. They may also be used by countries who have not yet formally adopted UEB .</p>
        <p><a href="English_(BANA_Pre-UEB)_-_Literary_Format.htm">English (BANA Pre-UEB) - Literary Format.htm</a>
        </p>
        <p><a href="English_(BANA_Pre-UEB)_-_XML_(Daisy-NISO-NIMAS).htm">English (BANA Pre-UEB) - XML (Daisy-NISO-NIMAS).htm</a>
        </p>
        <p><a href="English_(BANA_Pre-UEB_Textbook_DE)_-_BANA.htm">English (BANA Pre-UEB Textbook DE) - BANA.htm</a>
        </p>
        <p><a href="English_(BANA_Pre-UEB_Textbook_DE)_-_BANA_Nemeth.htm">English (BANA Pre-UEB Textbook DE) - BANA Nemeth.htm</a>
        </p>
        <p><a href="English_(BANA_Pre-UEB_Textbook_DE)_-_Textbook_Fmt.htm">English (BANA Pre-UEB Textbook DE) - Textbook Fmt.htm</a>
        </p>
        <p><a href="English_(British_Pre-UEB)_-_no_caps_in_literary.htm">English (British Pre-UEB) - no caps in literary.htm</a>
        </p>
        <p><a href="English_(British_Pre-UEB)_-_with_capitals.htm">English (British Pre-UEB) - with capitals.htm</a>
        </p>
        <h2 class="NoNewPage">English Moon</h2>
        <p>Moon is not actually braille but is popular as tactile form produced for those unable to read braille.</p>
        <p><a href="English_Moon_-_basic.htm">English  Moon - basic.htm</a>
        </p>
        <p><a href="English_Moon_-_basic_no_capitals.htm">English  Moon - basic no capitals.htm</a>
        </p>
    </body>
</html>