<?xml version="1.0" encoding="utf-8"?>
<html lang="en" xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="4" MadCap:lastHeight="919" MadCap:lastWidth="624">
    <head><title>Language Information for Duxbury DBT</title>
        <link href="../../Resources/Stylesheets/DuxHelp.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>
            <MadCap:keyword term="English" />English <img alt="United Kingdom Flag" src="../../Resources/Images/flags/united_kingdom.gif" height="30" border="0" title="United Kingdom Flag" /></h1>
        <p>You are seeing this page since the DBT Template you selected is <b>English (UEB) - UK formatting</b>.</p>
        <p>When you open (import) a file into Duxbury DBT, you have an opportunity to select a DBT Template. If you select a default Template, then you do not have to select a Template each time you open a file. Once you highlight the name of a DBT Template, you can click on the button that says <b>Select Template as Default</b>.</p>
        <hr />
        <p>This DBT Template is designed to produce material written in the <b>English</b> language.</p>
        <p>If the text you are producing into braille is written in a different language, then you need to select a different DBT Template.</p>
        <hr />
        <p><a href="../../language_translation_tables/english_unified.htm">Click here for more help on the DBT translator used by English (UEB) - UK formatting</a>
        </p>
        <h3>Multiple Templates for English</h3>
        <p>The English language has multiple DBT Templates.</p>
        <p>The use of UEB braille is now required in all English speaking countries. The differences between these DBT Templates are in math translation or in formatting possibilities (the list of DBT styles).</p>
        <ul>
            <li>English (UEB) - Australian formatting</li>
            <li>English (UEB) - BANA with Nemeth</li>
            <li>English (UEB) - BANA</li>
            <li>English (UEB) - basic</li>
            <li>English (UEB) - New Zealand (including Maori)</li>
            <li>English (UEB) - UK formatting</li>
        </ul>
        <p>BANA means for the United States. In past releases of DBT, the "BANA" DBT Templates would not work well if you were importing a Word document not using a BANA Word Template. This is no longer true. Please use the "BANA" Templates if you are in the United States and are trying to meet exacting standards for textbook production. The Template <b>English (UEB) - BANA</b> uses UEB text and UEB math translation. The Template <b>English (UEB) - BANA with Nemeth</b> uses UEB text translation along with Nemeth Code translation for technical notation.</p>
        <p>DBT still contains the Templates for producing braille in the codes used before the introduction of UEB braille.</p>
        <p>Here is the list of the older DBT Templates previously used in the United States:</p>
        <ul>
            <li>English (BANA Pre-UEB Textbook DE) - BANA Nemeth</li>
            <li>English (BANA Pre-UEB Textbook DE) - BANA</li>
            <li>English (BANA Pre-UEB Textbook DE) - Textbook Fmt</li>
            <li>English (BANA Pre-UEB) - Literary Format</li>
            <li>English (BANA Pre-UEB) - XML (Daisy-NISO-NIMAS)</li>
        </ul>
        <p>Here is the list of the older DBT Templates previously used in the United Kingdom:</p>
        <ul>
            <li>English (British Pre-UEB) - no caps in literary</li>
            <li>English (British Pre-UEB) - with capitals</li>
        </ul>
        <h3>Meeting Exacting Standards</h3>
        <p>For users in the United States, the BANA DBT templates are used to meet exacting formatting standards. Usually, braille transcribers prepare the text in Microsoft Word. Usually, those files use a BANA Word Template. <a href="../../working_with_word/BANA_Template_2015/Word_Template_BANA_Braille_2015.htm">Click here to learn more about the Word template</a>.</p>
        <p>For users in the United Kingdom, the recommended DBT Template is <b>English (UEB) - UK formatting</b>. This DBT Template can also accept files that use a BANA Word Template.</p>
        <h3>Math Issues in English</h3>
        <p>As of 2016 UEB has been adopted throughout the English-speaking world. In the United States, the adoption of UEB included the retention of Nemeth Code for technical notation. As mentioned above, the tools in DBT for producing UEB according to BANA standards allow for a choice of Nemeth Code or UEB math for technical notation. The difference between the two DBT templates <b>English (UEB) - BANA</b> and <b>English (UEB) - BANA with Nemeth</b> comes from how the three styles <b>math</b>, <b>math-TextInMath</b>, and <b>OneWordBridge</b> are defined. The style OneWordBridge is defined in both UEB BANA templates but is meaningful only in the "with Nemeth" template.</p>
        <p>UEB math allows for some flexibility in spacing around signs of comparison, like the equals sign, and in the early grades for spacing around signs of operation, like the plus sign. Adding spaces around signs of comparison is regarded as standard among users of UEB. The UEB translator does not automatically add spaces for either situation. However, in <b>Global Settings</b> - <b>Import Options</b>, there is a checkbox for adding spaces around signs of comparison within technical notation when importing files with math. This applies for importing both Word documents with MathType and for importing LaTeX files.</p>
        <h3>Contracted Braille</h3>
        <p>This language is usually produced in <b>contracted</b> braille. This means that words are not produced in braille on a one-for-one basis. There are abbreviations or contractions in the text. If you have questions about how braille is produced, please contact a member of your local braille authority.</p>
        <p>Sometimes, you may want to produce uncontracted braille. This is easy to do with DBT. Before translation into braille, go to the top of the document in DBT, and issue the command <b>Alt-1</b>. When you translate into braille, the braille will be uncontracted</p>
        <h3>Sample Microsoft Word file</h3>
        <p>For a sample Word file in this language, open this URL:</p>
        <p><b>http://www.duxburysystems.com/samples/english-en.doc</b>
        </p>
        <p> in your browser. That is, clipboard the URL into your browser to open the Word file.</p>
        <hr />
        <p>E-mail <a href="mailto:languages@duxsys.com">languages@duxsys.com</a> for suggestions on improving DBT braille translators (or requesting a translator for a new language).</p>
        <p>E-mail <a href="mailto:support@duxsys.com">support@duxsys.com</a> for software support issues related to Duxbury DBT.</p>
        <hr />
        <p><a href="Templates_Docs/all_templates.htm">Click here to select a different DBT Template</a>.</p>
    </body>
</html>