<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="91" MadCap:lastWidth="624">
    <head>
    </head>
    <body>
        <h1>Farsi <img src="../../Resources/Images/flags/ir-flag.gif" alt="Iranian Flag" height="30" border="0" title="Iranian Flag" class="flag" /><img src="../../Resources/Images/flags/af-flag.gif" alt="Afghanistan Flag" height="30" border="0" title="Afghanistan Flag" class="flag" /></h1>
        <p><a href="Farsi_(Persian)_-_basic.htm">Farsi_(Persian)_-_basic.htm</a>
        </p>
        <p><a href="../../language_translation_tables/farsi.htm">farsi.htm</a>
        </p>
    </body>
</html>