<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="91" MadCap:lastWidth="624">
    <head>
    </head>
    <body>
        <h1>Filipino <img src="../../Resources/Images/flags/Philippines.gif" height="30" border="0" alt="Flag of The Philippines" title="Flag of The Philippines" class="flag" /></h1>
        <p><a href="Filipino_-_basic.htm">Filipino_-_basic.htm</a>
        </p>
        <p><a href="../../language_translation_tables/filipino.htm">FILLIPINO - Technical</a>
        </p>
    </body>
</html>