<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="93" MadCap:lastWidth="624">
    <head>
    </head>
    <body>
        <h1>Finnish <img src="../../Resources/Images/flags/finland.gif" alt="Finnish Flag" height="30" border="0" title="Finnish Flag" class="flag" style="border-left-style: solid;border-left-width: 1px;border-left-color: ;border-right-style: solid;border-right-width: 1px;border-right-color: ;border-top-style: solid;border-top-width: 1px;border-top-color: ;border-bottom-style: solid;border-bottom-width: 1px;border-bottom-color: ;" /></h1>
        <p><a href="Finnish_-_basic.htm">Finnish_-_basic.htm</a>
        </p>
        <p><a href="../../language_translation_tables/finnish.htm">FINNISH - Technical</a>
        </p>
    </body>
</html>