<?xml version="1.0" encoding="utf-8"?>
<html lang="en" xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="4" MadCap:lastHeight="1741" MadCap:lastWidth="419">
    <head><title>Language Information for Duxbury DBT</title>
        <link href="../../Resources/Stylesheets/DuxHelp.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h2 alt="French Flag">
            <MadCap:keyword term="French" />French <img alt="Flag of France" src="../../Resources/Images/flags/france.gif" height="30" border="0" title="Flag of France" class="flag" />&#160;<img src="../../Resources/Images/flags/canada.gif" alt="Canadian Flag" title="Canadian Flag" class="flag" /></h2>
        <p>You are seeing this page since the DBT Template you selected is <b>Francais <MadCap:keyword term="2006 - abrege" />2006 - abrege</b>.</p>
        <p>When you open (import) a file into Duxbury DBT, you have an opportunity to select a DBT Template. If you select a default Template, then you do not have to select a Template each time you open a file. Once you highlight the name of a DBT Template, you can click on the button that says <b>Select Template as Default</b>.</p>
        <hr />
        <p>This DBT Template is designed to produce material written in the <b>French</b> language.</p>
        <p>If the text you are producing into braille is written in a different language, then you need to select a different DBT Template.</p>
        <hr />
        <p><a href="../../language_translation_tables/french_unified.htm">Click here for more help on the DBT translator used by Francais 2006 - abrege</a>
        </p>
        <h3>Multiple Templates for French</h3>
        <p>The French language has multiple DBT Templates.</p>
        <p>Here is the list:</p>
        <ul>
            <li>Francais 2006 - abrege braille de base</li>
            <li>Francais 2006 - abrege</li>
            <li>Francais 2006 - integral braille de base</li>
            <li>Francais 2006 - integral</li>
        </ul>
        <p>The word <b>abrege</b> means contracted (abbreviated). The word <b>integral</b> means uncontracted. The phrase <b>de base</b> means "basic". In this context, it means that emphasis in braille is not shown. The most common French template is <b>Francais 2006 - abrege</b>.</p>
        <p>A manual for using DBT has been written in French. This pdf file is available on the root directory of the DBT CD-ROM.</p>
        <h3>Math Issues in French</h3>
        <p>DBT supports the French braille code for mathematics, published in January, 2007.</p>
        <h3>Contracted Braille</h3>
        <p>This language is usually produced in <b>contracted</b> braille. This means that words are not produced in braille on a one-for-one basis. There are abbreviations or contractions in the text. If you have questions about how braille is produced, please contact a member of your local braille authority.</p>
        <p>Sometimes, you may want to produce uncontracted braille. This is easy to do with DBT. Before translation into braille, go to the top of the document in DBT, and issue the command <b>Alt-1</b>. When you translate into braille, the braille will be uncontracted</p>
        <h3>Sample Microsoft Word file</h3>
        <p>For a sample Word file in this language, open this URL:</p>
        <p><b>http://www.duxburysystems.com/samples/french-fr.doc</b>
        </p>
        <p> in your browser. That is, clipboard the URL into your browser to open the Word file.</p>
        <hr />
        <p>E-mail <a href="mailto:languages@duxsys.com">languages@duxsys.com</a> for suggestions on improving DBT braille translators (or requesting a translator for a new language).</p>
        <p>E-mail <a href="mailto:support@duxsys.com">support@duxsys.com</a> for software support issues related to Duxbury DBT.</p>
        <hr />
        <p><a href="Templates_Docs/all_templates.htm">Click here to select a different DBT Template</a>.</p>
    </body>
</html>