<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="362" MadCap:lastWidth="672">
    <head>
    </head>
    <body>
        <h2 class="NoNewPage">French - Additional Information <img src="../../Resources/Images/flags/france.gif" alt="French Flag" /><img src="../../Resources/Images/flags/canada.gif" alt="Canadian Flag" title="Canadian Flag" /></h2>
        <p>Before Unified French braille was introduced in 2006, there were primarily two main, but differing, braille codes.</p>
        <p>Both are now regarded as "Historical", and should not be used unless specifically requested.</p>
        <p>If you do want to produce braille in one of the older codes, use one of the "contracted braille" templates, and then go to the Document menu, select Translation table, and then one of the older translation tables.</p>
        <p>Please contact <a href="mailto:languages@duxsys.com?subject=French">languages@duxsys.com</a> if you have difficulty using either of these.</p>
        <p><a href="../../language_translation_tables/french.htm">French Pre-Unified</a>
        </p>
        <p><a href="../../language_translation_tables/french_quebec.htm">Canadian French</a>
        </p>
    </body>
</html>