<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="355" MadCap:lastWidth="624">
    <head>
    </head>
    <body>
        <h2 class="chapter">French <img alt="Flag of France" src="../../Resources/Images/flags/france.gif" height="30" border="0" title="Flag of France" class="flag" />&#160;<img src="../../Resources/Images/flags/canada.gif" alt="Canadian Flag" title="Canadian Flag" class="flag" /></h2>
        <p>Modern day French is now Unified. That is to say the Braille Code should now be the same wherever French braille is used.</p>
        <p>Here is a list of the four DBT Templates for French:</p>
        <p alt="French Flag"><a href="Francais_2006_-_abrege.htm">Francais 2006 - abrege</a> = Contracted braille.</p>
        <p><a href="Francais_2006_-_abrege_braille_de_base.htm">Francais 2006 - abrege_braille_de_base</a>&#160;= Contracted braille, without emphasis. (emphasis in print is not shown in the braille)</p>
        <p><a href="Francais_2006_-_integral.htm">Francais 2006 - integral</a> = Uncontracted braille.</p>
        <p><a href="Francais_2006_-_integral_braille_de_base.htm">Francais 2006 - integral_braille_de_base</a> = Uncontracted braille, without emphasis. (emphasis in print is not shown in the braille)</p>
        <hr />
        <p>You may wish to see additional information below</p>
        <p><a href="../../language_translation_tables/french_unified.htm">For more technical, information click here</a>
        </p>
        <p><a href="French_historical.htm">Additional Historical Information</a>
        </p>
    </body>
</html>