<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="96" MadCap:lastWidth="624">
    <head>
    </head>
    <body>
        <h1>Georgian <img alt="Georgian Flag" src="../../Resources/Images/flags/georgia.gif" border="0" style="width: 56px; height: 35px;" title="Georgian Flag" class="flag" /></h1>
        <p><a href="Georgian_-_basic.htm">Georgian_-_basic.htm</a>
        </p>
        <p><a href="../../language_translation_tables/georgian.htm">GEORGIAN - Technical</a>
        </p>
    </body>
</html>