<?xml version="1.0" encoding="utf-8"?>
<html lang="en" xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="4" MadCap:lastHeight="1402" MadCap:lastWidth="558">
    <head><title>Language Information for Duxbury DBT</title>
        <link href="../../Resources/Stylesheets/DuxHelp.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>
            <MadCap:keyword term="Greek:Modern" />Greek <img alt="Flag of Greece" src="../../Resources/Images/flags/Greece.gif" height="30" border="0" title="Flag of Greece" /></h1>
        <p>You are seeing this page since the DBT Template you selected is <b>Greek (Modern) - basic</b>.</p>
        <p>When you open (import) a file into Duxbury DBT, you have an opportunity to select a DBT Template. If you select a default Template, then you do not have to select a Template each time you open a file. Once you highlight the name of a DBT Template, you can click on the button that says <b>Select Template as Default</b>.</p>
        <hr />
        <p>This is a basic DBT Template. <a href="basic.htm">Click here for more information about Basic Templates</a></p>
        <hr />
        <p>This DBT Template is designed to produce material written in the <b>Greek</b> language.</p>
        <p>If the text you are producing into braille is written in a different language, then you need to select a different DBT Template.</p>
        <hr />
        <p><a href="../../language_translation_tables/greek_modern.htm">Click here for more help on the DBT translator used by Greek (Modern) - basic</a>
        </p>
        <h3>Multiple Templates for Greek</h3>
        <p>The Greek language has multiple DBT Templates.</p>
        <p>Here is the list:</p>
        <ul>
            <li>Greek (Classical-American) - basic</li>
            <li>Greek (Modern) - basic</li>
        </ul>
        <p>The template <b>Greek (Modern) - basic</b> should be used for all braille used in Greece. The template <b>Greek (Classical-American) - basic</b> is designed for scholars of ancient Greek. It is intended to be used in the United States. Even so, the newer table <b>Biblical Languages</b> may be an improvement since it also handles Hebrew, Syriac, Arabic, Russian, and a variety of European languages.</p>
        <p>The template <b>Greek (Modern) - Basic</b> includes Nemeth Code, which was adopted as the official braille code for mathematics in Greece.</p>
        <h3>Uncontracted Braille</h3>
        <p>This language is usually produced in uncontracted braille. This means that words in the text are produced in braille on a one-for-one basis. One braille character for each inkprint symbol. Some inkprint punctuation may require more than one braille character. Showing upper case, emphasis, or numbers will add braille characters to the character count. But there are no abbreviations or contractions. If you have questions about how braille is produced, please contact a member of your local braille authority.</p>
        <h3>Non-Roman Script</h3>
        <p>This language is written in a script other than the Roman alphabet. This may result in problems when importing files into DBT. Your best bet is to import files from Microsoft Word or Open Office that are written in a Unicode font. You can contact support at Duxbury Systems if you have a file which does not import properly into DBT. Please send the file which does not import (the original inkprint file), not a screen shot of DBT.</p>
        <p>Duxbury Systems strives to work with users to make sure that our software works with as many file formats as possible. Contact us if you have any concerns.</p>
        <h3>Sample Microsoft Word file</h3>
        <p>For a sample Word file in this language, open this URL:</p>
        <p><b>http://www.duxburysystems.com/samples/greek-el.doc</b>
        </p>
        <p> in your browser. That is, clipboard the URL into your browser to open the Word file.</p>
        <hr />
        <p>E-mail <a href="mailto:languages@duxsys.com">languages@duxsys.com</a> for suggestions on improving DBT braille translators (or requesting a translator for a new language).</p>
        <p>E-mail <a href="mailto:support@duxsys.com">support@duxsys.com</a> for software support issues related to Duxbury DBT.</p>
        <hr />
        <p><a href="Templates_Docs/all_templates.htm">Click here to select a different DBT Template</a>.</p>
    </body>
</html>