<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="91" MadCap:lastWidth="624">
    <head>
    </head>
    <body>
        <h1>Hausa <img src="../../Resources/Images/flags/ni-flag.gif" alt="Nigerian Flag" border="0" style="width: 45px; height: 30px;" title="Nigerian Flag" class="flag" />&#160;<img src="../../Resources/Images/flags/ng-flag.gif" alt="Flag of Niger" border="0" style="width: 45px; height: 30px;" title="Flag of Niger" class="flag" /></h1>
        <p><a href="Hausa_-_basic.htm">Hausa_-_basic.htm</a>
        </p>
        <p><a href="../../language_translation_tables/hausa.htm">HAUSA - Technical</a>
        </p>
    </body>
</html>