<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="91" MadCap:lastWidth="624">
    <head>
    </head>
    <body>
        <h1>Hiligaynon <img src="../../Resources/Images/flags/Philippines.gif" alt="Flag of The Philippines" height="30" border="0" title="Flag of The Philippines" class="flag" /></h1>
        <p><a href="Hiligaynon_-_basic.htm">Hiligaynon_-_basic.htm</a>
        </p>
        <p><a href="../../language_translation_tables/hiligaynon.htm">HILIGAYNON - Technical</a>
        </p>
    </body>
</html>