<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="130" MadCap:lastWidth="423">
    <head>
    </head>
    <body>
        <h1>ICELANDIC<img alt="Icelandic Flag" src="../../Resources/Images/flags/iceland.gif" height="30" border="0" title="Icelandic Flag" class="flag" />&#160;<img src="../../Resources/Images/flags/faroe.gif" style="width: 41px; height: 29px;" title="Faroese Flag." alt="Faroese Flag." class="flag" /></h1>
        <p><a href="Icelandic_-_basic.htm">Icelandic_-_basic.htm</a>
        </p>
        <p><a href="../../language_translation_tables/icelandic.htm">ICELANDIC - Technical</a>
        </p>
    </body>
</html>