<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="91" MadCap:lastWidth="624">
    <head>
    </head>
    <body>
        <h1>Igbo <img src="../../Resources/Images/flags/ni-flag.gif" alt="Nigerian Flag" border="0" style="width: 45px; height: 30px;" title="Nigerian Flag" class="flag" /></h1>
        <p><a href="Igbo_-_basic.htm">Igbo_-_basic.htm</a>
        </p>
        <p><a href="../../language_translation_tables/igbo.htm">IGBO - Technical</a>
        </p>
    </body>
</html>