<?xml version="1.0" encoding="utf-8"?>
<html lang="en" xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd"  MadCap:lastBlockDepth="2" MadCap:lastHeight="723" MadCap:lastWidth="792">
    <head><title>Language Information for Duxbury DBT</title>
        <link href="../../Resources/Stylesheets/DuxHelp.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>
            <MadCap:keyword term="Igbo" />Igbo <img alt="Flag of Nigeria" src="../../Resources/Images/flags/ni-flag.gif" border="0" title="Flag of Nigeria" style="width: 52px;height: 25px;" /></h1>
        <p>You are seeing this page since the DBT Template you selected is <b>Igbo - basic</b>.</p>
        <p>When you open (import) a file into Duxbury DBT, you have an opportunity to select a DBT Template. If you select a default Template, then you do not have to select a Template each time you open a file. Once you highlight the name of a DBT Template, you can click on the button that says <b>Select Template as Default</b>.</p>
        <hr />
        <p>This is a basic DBT Template. <a href="basic.htm">Click here for more information about Basic Templates</a></p>
        <hr />
        <p>This DBT Template is designed to produce material written in the <b>Igbo</b> language.</p>
        <p>If the text you are producing into braille is written in a different language, then you need to select a different DBT Template.</p>
        <hr />
        <p><a href="../../language_translation_tables/Igbo.htm">Click here for more help on the DBT translator used by Igbo - basic</a>
        </p>
        <h3>Contracted Braille</h3>
        <p>This language is usually produced in <b>contracted</b> braille. This means that words are not produced in braille on a one-for-one basis. There are abbreviations or contractions in the text. If you have questions about how braille is produced, please contact a member of your local braille authority.</p>
        <p>Sometimes, you may want to produce uncontracted braille. This is easy to do with DBT. Before translation into braille, go to the top of the document in DBT, and issue the command <b>Alt-1</b>. When you translate into braille, the braille will be uncontracted</p>
        <h3>Sample Microsoft Word file</h3>
        <p>For a sample Word file in this language, open this URL:</p>
        <p><b>http://www.duxburysystems.com/samples/igbo-ig.doc</b>
        </p>
        <p> in your browser. That is, clipboard the URL into your browser to open the Word file.</p>
        <hr />
        <p>E-mail <a href="mailto:languages@duxsys.com">languages@duxsys.com</a> for suggestions on improving DBT braille translators (or requesting a translator for a new language).</p>
        <p>E-mail <a href="mailto:support@duxsys.com">support@duxsys.com</a> for software support issues related to Duxbury DBT.</p>
        <hr />
        <p><a href="Templates_Docs/all_templates.htm">Click here to select a different DBT Template</a>.</p>
    </body>
</html>