<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="92" MadCap:lastWidth="624">
    <head>
    </head>
    <body>
        <h1>Ingushetia <img src="../../Resources/Images/flags/russia.gif" alt="Russian Flag" height="29px" border="0" title="Russian Flag" class="flag" style="border-left-style: solid;border-left-width: 1px;border-left-color: ;border-right-style: solid;border-right-width: 1px;border-right-color: ;border-top-style: solid;border-top-width: 1px;border-top-color: ;border-bottom-style: solid;border-bottom-width: 1px;border-bottom-color: ;width: 44px;" />&#160;<img src="../../Resources/Images/flags/ingushetia.gif" style="width: 58px; height: 31px;" title="Ingushetia flag" alt="Ingushetia flag" class="flag" /></h1>
        <p><a href="Ingush_-_basic.htm">Ingush_-_basic.htm</a>
        </p>
        <p><a href="../../language_translation_tables/Ingushetia.htm">INGUSHETIA - Technical</a>
        </p>
    </body>
</html>