<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="117" MadCap:lastWidth="624">
    <head>
    </head>
    <body>
        <h1>Italian <img src="../../Resources/Images/flags/italy.gif" alt="Italian Flag" style="width: 45px; height: 30px;" width="45" height="30" border="0" title="Italian Flag" class="flag" /></h1>
        <p><a href="Italiano.htm">Italiano.htm</a>
        </p>
        <p><a href="../../language_translation_tables/italian.htm">ITALIAN - Technical</a>
        </p>
        <p><a href="../../language_translation_tables/italian_uncontracted.htm">ITALIAN Uncontracted - Technical</a>
        </p>
    </body>
</html>