<?xml version="1.0" encoding="utf-8"?>
<html lang="en" xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="4" MadCap:lastHeight="2453" MadCap:lastWidth="668">
    <head><title>Language Information for Duxbury DBT</title>
        <link href="../../Resources/Stylesheets/DuxHelp.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>
            <MadCap:keyword term="Japanese:Kana" />Japanese <img alt="Flag of Japan" src="../../Resources/Images/flags/japan.gif" height="30" border="0" title="Flag of Japan" /></h1>
        <p>You are seeing this page since the DBT Template you selected is <b>Japanese (Kana) - basic</b>.</p>
        <p>When you open (import) a file into Duxbury DBT, you have an opportunity to select a DBT Template. If you select a default Template, then you do not have to select a Template each time you open a file. Once you highlight the name of a DBT Template, you can click on the button that says <b>Select Template as Default</b>.</p>
        <hr />
        <p>This is a basic DBT Template. <a href="basic.htm">Click here for more information about Basic Templates</a></p>
        <hr />
        <p>This DBT Template is designed to produce material written in the <b>Japanese</b> language.</p>
        <p>If the text you are producing into braille is written in a different language, then you need to select a different DBT Template.</p>
        <hr />
        <p><a href="../../language_translation_tables/japanese_kana.htm">Click here for more help on the DBT translator used by Japanese (Kana) - basic</a>
        </p>
        <h3>Uncontracted Braille</h3>
        <p>This language is usually produced in uncontracted braille. This means that words in the text are produced in braille on a one-for-one basis. One braille character for each inkprint symbol. Some inkprint punctuation may require more than one braille character. Showing upper case, emphasis, or numbers will add braille characters to the character count. But there are no abbreviations or contractions. If you have questions about how braille is produced, please contact a member of your local braille authority.</p>
        <h3>Non-Roman Script</h3>
        <p>This language is written in a script other than the Roman alphabet. This may result in problems when importing files into DBT. Your best bet is to import files from Microsoft Word or Open Office that are written in a Unicode font. You can contact support at Duxbury Systems if you have a file which does not import properly into DBT. Please send the file which does not import (the original inkprint file), not a screen shot of DBT.</p>
        <p>Duxbury Systems strives to work with users to make sure that our software works with as many file formats as possible. Contact us if you have any concerns.</p>
        <h3>Han Script Issues</h3>
        <p>This language uses Han (Chinese) characters. You can select how DBT handles Han characters.</p>
        <p>Go to the <b>Global</b> Menu, and select <b>Import Options</b>. There is a menu that looks like this.</p>
        <p><b>Default language for Han (Chinese) script</b>:</p>
        <ul>
            <li>Mandarin</li>
            <li>Cantonese (Yue)</li>
            <li>Japanese</li>
            <li>Korean</li>
        </ul>
        <p>Please go to this option, and make the correct selection. If you change your default DBT template, you may need to change this option again. Your choice of languages does not change the import choices, so you must do this manually if you work with multiple languages that make use of Han script.</p>
        <h3>Special Screen Mode for Japanese Braille</h3>
        <p>For Japanese, we have created a special mode to display braille on the screen that uses the traditional characters that are used in Japanese braille transcriber manuals. This mode is not recommended for blind users.</p>
        <p>Go to the <b>Global</b> Menu, and select <b>Internationalization</b>, and then <b>Braille Encoding for Input and Display</b>. At the end of the list, select <b>Japanese visual proofing</b>.</p>
        <p>Below is a screen shot.</p>
        <p class="center">
            <img src="../../Resources/Images/codes_styles_templates/templates/jpn.jpg" title="Screen shot showing Japanese text in DBT" alt="Screen shot showing Japanese text in DBT" />
        </p>
        <h3>Sample Microsoft Word file</h3>
        <p>For a sample Word file in this language, open this URL:</p>
        <p><b>http://www.duxburysystems.com/samples/japanese-ja.docx</b>
        </p>
        <p> in your browser. That is, clipboard the URL into your browser to open the Word file.</p>
        <hr />
        <p>E-mail <a href="mailto:languages@duxsys.com">languages@duxsys.com</a> for suggestions on improving DBT braille translators (or requesting a translator for a new language).</p>
        <p>E-mail <a href="mailto:support@duxsys.com">support@duxsys.com</a> for software support issues related to Duxbury DBT.</p>
        <hr />
        <p><a href="Templates_Docs/all_templates.htm">Click here to select a different DBT Template</a>.</p>
    </body>
</html>