<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="94" MadCap:lastWidth="624">
    <head>
    </head>
    <body>
        <h1>Javanese <img src="../../Resources/Images/flags/indonesia.gif" title="Indonesian Flag" alt="Indonesian Flag" class="flag" /></h1>
        <p><a href="Javanese_-_basic.htm">Javanese_-_basic.htm</a>
        </p>
        <p><a href="../../language_translation_tables/javanese.htm">JAVANESE - Technical</a>
        </p>
    </body>
</html>