<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="117" MadCap:lastWidth="624">
    <head>
    </head>
    <body>
        <h1>Kannada <img alt="Flag of India" src="../../Resources/Images/flags/india.gif" height="30" border="0" title="Flag of India" class="flag" /></h1>
        <p><a href="Kannada_-_basic.htm">Kannada_-_basic.htm</a>
        </p>
        <p><a href="Kannada_-_basic_with_Nemeth.htm">Kannada_-_basic_with_Nemeth.htm</a>
        </p>
        <p><a href="../../language_translation_tables/kannada.htm">KANNADA - Technical</a>
        </p>
    </body>
</html>