<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="115" MadCap:lastWidth="624">
    <head>
    </head>
    <body>
        <h1>Kazakh <img src="../../Resources/Images/flags/kazakhstan.gif" alt="Kazakhstan Flag" border="0" title="Kazakhstan Flag" style="width: 56px; height: 28px;" class="flag" /></h1>
        <p><a href="Kazakh_-_basic.htm">Kazakh_-_basic.htm</a>
        </p>
        <p><a href="../../language_translation_tables/kazakh.htm">KAZAKH - Technical</a>
        </p>
        <p><a href="../../language_translation_tables/kazakh_uncontracted).htm">KAZAKH Uncontracted - Technical</a>
        </p>
    </body>
</html>