<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="94" MadCap:lastWidth="624">
    <head>
    </head>
    <body>
        <h1>Khmer <img src="../../Resources/Images/flags/cambodia.gif" style="width: 48px; height: 33px;" width="48" height="33" border="0" alt="Cambodian flag." title="Cambodian flag." class="flag" /></h1>
        <p><a href="Khmer_-_basic.htm">Khmer_-_basic.htm</a>
        </p>
        <p><a href="../../language_translation_tables/KHMER_(Cambodian).htm">KHMER (CAmbodian) - Technical</a>
        </p>
    </body>
</html>