<?xml version="1.0" encoding="utf-8"?>
<html lang="en" xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="4" MadCap:lastHeight="1294" MadCap:lastWidth="766">
    <head><title>Language Information for Duxbury DBT</title>
        <link href="../../Resources/Stylesheets/DuxHelp.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>
            <MadCap:keyword term="Korean" />Korean <img alt="Flag of South Korea" src="../../Resources/Images/flags/southkorea.gif" height="30" border="0" title="Flag of South Korea" /></h1>
        <p>You are seeing this page since the DBT Template you selected is <b>Korean - basic</b>.</p>
        <p>When you open (import) a file into Duxbury DBT, you have an opportunity to select a DBT Template. If you select a default Template, then you do not have to select a Template each time you open a file. Once you highlight the name of a DBT Template, you can click on the button that says <b>Select Template as Default</b>.</p>
        <hr />
        <p>This is a basic DBT Template. <a href="basic.htm">Click here for more information about Basic Templates</a></p>
        <hr />
        <p>This DBT Template is designed to produce material written in the <b>Korean</b> language.</p>
        <p>If the text you are producing into braille is written in a different language, then you need to select a different DBT Template.</p>
        <hr />
        <p><a href="../../language_translation_tables/Korean.htm">Click here for more help on the DBT translator used by Korean - basic</a>
        </p>
        <h3>Contracted Braille</h3>
        <p>This language is usually produced in <b>contracted</b> braille. This means that words are not produced in braille on a one-for-one basis. There are abbreviations or contractions in the text. If you have questions about how braille is produced, please contact a member of your local braille authority.</p>
        <p>Sometimes, you may want to produce uncontracted braille. This is easy to do with DBT. Before translation into braille, go to the top of the document in DBT, and issue the command <b>Alt-1</b>. When you translate into braille, the braille will be uncontracted</p>
        <h3>Non-Roman Script</h3>
        <p>This language is written in a script other than the Roman alphabet. This may result in problems when importing files into DBT. Your best bet is to import files from Microsoft Word or Open Office that are written in a Unicode font. You can contact support at Duxbury Systems if you have a file which does not import properly into DBT. Please send the file which does not import (the original inkprint file), not a screen shot of DBT.</p>
        <p>Duxbury Systems strives to work with users to make sure that our software works with as many file formats as possible. Contact us if you have any concerns.</p>
        <p>Korean is written in Hangul characters. Each character is made up of three (sometimes two) elements. When a Korean file is imported into DBT, the visual display shows each of these elements as if they were their own character. The visual display is almost useless for showing the Korean text. The braille translation is correct.</p>
        <p>Duxbury Systems regrets the difficulty of reading and editing the inkprint screen in DBT.</p>
        <hr />
        <h3>Han Script Issues</h3>
        <p>This language uses Han (Chinese) characters. You can select how DBT handles Han characters.</p>
        <p>Go to the <b>Global</b> Menu, and select <b>Import Options</b>. There is a menu that looks like this.</p>
        <p><b>Default language for Han (Chinese) script</b>:</p>
        <ul>
            <li>Mandarin</li>
            <li>Cantonese (Yue)</li>
            <li>Japanese</li>
            <li>Korean</li>
        </ul>
        <p>Please go to this option, and make the correct selection. If you change your default DBT template, you may need to change this option again. Your choice of languages does not change the import choices, so you must do this manually if you work with multiple languages that make use of Han script.</p>
        <h3>Sample Microsoft Word file</h3>
        <p>For a sample Word file in this language, open this URL:</p>
        <p><b>http://www.duxburysystems.com/samples/korean-ko.docx</b>
        </p>
        <p> in your browser. That is, clipboard the URL into your browser to open the Word file.</p>
        <hr />
        <p>E-mail <a href="mailto:languages@duxsys.com">languages@duxsys.com</a> for suggestions on improving DBT braille translators (or requesting a translator for a new language).</p>
        <p>E-mail <a href="mailto:support@duxsys.com">support@duxsys.com</a> for software support issues related to Duxbury DBT.</p>
        <hr />
        <p><a href="Templates_Docs/all_templates.htm">Click here to select a different DBT Template</a>.</p>
    </body>
</html>