<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="94" MadCap:lastWidth="624">
    <head>
    </head>
    <body>
        <h1>Korean <img alt="South Korean Flag" src="../../Resources/Images/flags/southkorea.gif" border="0" title="South Korean Flag" class="flag" />&#160;<img alt="North Korean Flag" src="../../Resources/Images/flags/northkorea.gif" border="0" title="North Korean Flag" class="flag" /></h1>
        <p><a href="Korean_-_basic.htm">Korean_-_basic.htm</a>
        </p>
        <p><a href="../../language_translation_tables/korean.htm">KOREAN - Technical</a>
        </p>
    </body>
</html>