<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="157" MadCap:lastWidth="416">
    <head>
    </head>
    <body>
        <h1>Kurdish <img alt="Iraq Flag" src="../../Resources/Images/flags/iraq.gif" height="30" border="0" title="Iraq Flag" class="flag" />&#160;<img alt="Turkish Flag" src="../../Resources/Images/flags/Turkey.gif" height="30" border="0" title="Turkish Flag" class="flag" />&#160;<img alt="Flag of Iran" src="../../Resources/Images/flags/iran.gif" height="30" border="0" title="Flag of Iran" class="flag" />&#160;<img alt="Kurdish Flag" src="../../Resources/Images/flags/kurdish.gif" border="0" style="width: 45px; height: 30px;" title="Kurdish Flag" class="flag" /></h1>
        <p><a href="Kurdish_-_basic.htm">Kurdish - basic</a>
        </p>
        <hr />
        <p><a href="../../language_translation_tables/kurdish.htm">KURDISH - Technical</a>
        </p>
    </body>
</html>