<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="91" MadCap:lastWidth="624">
    <head>
    </head>
    <body>
        <h1>Latin <img src="../../Resources/Images/flags/italy.gif" alt="Italian Flag" height="30" border="0" title="Italian Flag" class="flag" /></h1>
        <p><a href="Latin_-_basic.htm">Latin_-_basic.htm</a>
        </p>
        <p><a href="../../language_translation_tables/latin.htm">LATIN - Technical</a>
        </p>
    </body>
</html>