<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="91" MadCap:lastWidth="624">
    <head>
    </head>
    <body>
        <h1>Latvian <img src="../../Resources/Images/flags/latvia.gif" alt="Latvian Flag" height="30" border="0" title="Latvian Flag" class="flag" /></h1>
        <p><a href="Latvian_-_basic.htm">Latvian_-_basic.htm</a>
        </p>
        <p><a href="../../language_translation_tables/latvian.htm">LATVIAN - Technical</a>
        </p>
    </body>
</html>