<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="91" MadCap:lastWidth="624">
    <head>
    </head>
    <body>
        <h1>Lithuanian <img src="../../Resources/Images/flags/lithuania.gif" alt="Lithuanian Flag" height="30" border="0" title="Lithuanian Flag" class="flag" /></h1>
        <p><a href="Lithuanian_-_basic.htm">Lithuanian_-_basic.htm</a>
        </p>
        <p><a href="../../language_translation_tables/lithuanian.htm">LITHUANIAN - Technical</a>
        </p>
    </body>
</html>