<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="106" MadCap:lastWidth="624">
    <head>
    </head>
    <body>
        <h1>Magahi</h1>
        <p><a href="Magahi_-_basic.htm">Magahi_-_basic.htm</a>
        </p>
        <p><a href="Magahi_-_basic_with_Nemeth.htm">Magahi_-_basic_with_Nemeth.htm</a>
        </p>
        <p><a href="../../language_translation_tables/magahi.htm">MAGAHI - Technical</a>
        </p>
    </body>
</html>