<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="106" MadCap:lastWidth="624">
    <head>
    </head>
    <body>
        <h1>Maithili</h1>
        <p><a href="Maithili_-_basic.htm">Maithili_-_basic.htm</a>
        </p>
        <p><a href="Maithili_-_basic_with_Nemeth.htm">Maithili_-_basic_with_Nemeth.htm</a>
        </p>
        <p><a href="../../language_translation_tables/maithili.htm">MAITHILI - Technical</a>
        </p>
    </body>
</html>