<?xml version="1.0" encoding="utf-8"?>
<html lang="en" xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="4" MadCap:lastHeight="698" MadCap:lastWidth="627">
    <head><title>More Information</title>
        <link href="../../Resources/Stylesheets/DuxHelp.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>Creating a New DBTTemplate to Work with the BANA Word Templates</h1>
        <p>To facilitate high quality work, one of our expert users, Susan Christensen, has created a series of Microsoft Word templates designed to enhance data entry in order to produce better braille with less effort. Whenever the BANA&#160;formats have been updated, Susan has produced new Word templates to match. As the name "BANA&#160;Braille 2015"&#160;implies, this Word template is oriented toward producing braille according North American standards, but it can be adapted for use anywhere in the world. For example, using this approach Duxbury Systems assisted a publisher in the Middle East to produce well formatted braille books for use in east Africa. </p>
        <p>At present, the BANA Word Templates work well in concert with these DBT Templates:</p>
        <ul>
            <li>English (BANA Pre-UEB Textbook DE) - BANA Nemeth</li>
            <li>English (BANA Pre-UEB Textbook DE) - BANA</li>
            <li>English (UEB) - BANA with Nemeth</li>
            <li>English (UEB) - BANA</li>
            <li>English (UEB) - UK formatting</li>
        </ul>
        <p>Of these DBT templates, <b>English (UEB) - UK formatting</b> is the most generic. An effort was made to strip it of elements that made it "too American", which generally makes it the best starting point to customize a DBT Template that can be used in a much more rigorous way than the basic templates.</p>
        <p>The advantage of this approach is that much of the work is done in Word. Using the BANA&#160;Word template, you mark your text in Word according to its use: heading, body text, table of contents item, footnote, reference page number, index item, etc. The key idea is that doing this markup makes a major change to the subsequent actions of your DBT Template, producing very well formatted braille. </p>
        <p>Duxbury Systems offers this ability to customize your own DBT template in part because Duxbury does not want to confuse users by having multiple DBT Templates for every language. You, though, should feel free to experiment with creating your own custom template for your language and regional rules whenever your language has only a basic template available.</p>
        <p><b>Step One: Start with the English (UEB) - UK formatting template</b>
        </p>
        <p>With DBT open but no document showing, press Control-N for New File, and select the DBT Template <b>English (UEB) - UK formatting</b> Do not type any text into this file.</p>
        <p>
            <img src="../../Resources/Images/codes_styles_templates/templates/bana1.jpg" alt="image showing the selection of the English (UEB) - UK formatting template" />
        </p>
        <p><b>Step Two: Select the Braille Translation Table for your language</b>
        </p>
        <p>Press <b>Alt-D</b> to open the Document Menu. Then press <b>T</b> to change the braille translation table. In this example, we are selecting the Belarusian braille translation table. Note that you may need to select a different world region to find your desired language table.</p>
        <p>
            <img src="../../Resources/Images/codes_styles_templates/templates/bana2.jpg" alt="image showing the selection of a braille translator other than English" />
        </p>
        <p><b>Step Three: Create your New DBT Template</b>
        </p>
        <p>Again, press <b>Alt-D</b> for the Document Menu. Then press <b>C</b> to create a new DBT Template. Check the box for <b>Use customized Word style map</b>, and choose <b>BANA</b> (at or near the top of the list). Give your custom template a name in the first text field. Then you have the option to share the template or not as suits your situation. Then click OK to finish.</p>
        <p>
            <img src="../../Resources/Images/codes_styles_templates/templates/bana3.jpg" alt="image showing saving this new DBT Template under a new name" />
        </p>
        <p><b>Step Four: Create files in Word using the BANA Word Template</b>
        </p>
        <p>The main idea is to do almost all formatting in Word, and get good results in DBT by using your custom DBT template. Here are the key points, starting with how to access the BANA&#160;Word template:</p>
        <ul>
            <li>You want to use the BANA Word Template for editing your documents in Word.  The BANA templates can be found in the Templates folder of your DBT installation (ex:&#160;BANA&#160;Braille 2015.dot), or you can install SWIFT&#160;(see next).</li>
            <li>Perhaps the best way to install the BANA Word Templates on a computer is to install the program SWIFT, especially if you want to explore SWIFT as a direct connection between Word and DBT, but SWIFT can be handy for this purpose alone. SWIFT can be downloaded from <a href="http://www.duxburysystems.com/swift.asp">this location on the Duxbury web site.</a></li>
            <li>Once SWIFT is installed, you will see a new "Braille" tab on the Word ribbon interface. Open a file in Word, click on "Braille", and then use the left most option, "Choose Template"&#160;and select your template (usually "BANA Literary"). After that, we do not (as of this writing)&#160;recommend using the other options in the "Braille" tab (these choices are still in beta-test). Instead, click on "Add-Ins" and use the style choices there.</li>
            <li>The documentation of the BANA Word Templates is extensive. You can find a lot of information <a href="../../working_with_word/BANA_Template_2015/Word_Template_BANA_Braille_2015.htm">at this location</a>. As this material was originally written for an American audience, you may need to adjust some of the guidelines to fit your situation.</li>
        </ul>
        <p><b>Some Fine Points about Editing</b>
        </p>
        <ul>
            <li>There is a trick to mark the separation between the end of the text in a table of contents and the page number. Have only have a space between these two items (delete any periods or leaders), highlight the entire page number, and press alt-control-shift-D).</li>
            <li>For paragraph styles, the cursor or highlight need only be in a portion of the "paragraph". For character styles, you need to highlight all of the text that is to have that attribute.</li>
            <li>Some of the formatting options, such as the handling of "boxes" in the BANA Word Templates, do not fit the formatting standards of other nations. Those aspects of the BANA Word Templates can simply be ignored.</li>
            <li>Most commonly DBTis installed on the same computer with Word, but to use the BANA&#160;templates, this is not strictly necessary. You only need to install SWIFT&#160;or copy the BANA&#160;template to the computer where Word is installed.</li>
        </ul>
        <p><b>Step Five: Import your Word file to DBT</b>
        </p>
        <ul>
            <li>When you go to open the Word file in DBT, you must select a DBT template for the document that "knows" how to handle the formatting styles in the BANA Word Template. This is exactly why you created your DBT Template (above)&#160;based on the UK formatting template. Use that template when you import your Word document to DBT.</li>
        </ul>
    </body>
</html>