<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="106" MadCap:lastWidth="624">
    <head>
    </head>
    <body>
        <h1>Panjabi</h1>
        <p><a href="Panjabi_-_basic.htm">Panjabi_-_basic.htm</a>
        </p>
        <p><a href="Panjabi_-_basic_with_Nemeth.htm">Panjabi_-_basic_with_Nemeth.htm</a>
        </p>
        <p><a href="../../language_translation_tables/panjabi.htm">PANJABI - Technical</a>
        </p>
    </body>
</html>