<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="4" MadCap:lastHeight="97" MadCap:lastWidth="397">
    <head>
    </head>
    <body>
        <h2 class="chapter">
            <MadCap:keyword term="Russian" />Russian <img src="../../Resources/Images/flags/russia.gif" class="flag" title="Russian Flag" alt="Russian Flag" /> </h2>
        <p><a href="Russian_-_no_capitals.htm">Russian_-_no_capitals.htm</a>
        </p>
    </body>
</html>