<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="106" MadCap:lastWidth="624">
    <head>
    </head>
    <body>
        <h1>Sanskrit</h1>
        <p><a href="Sanskrit_-_basic.htm">Sanskrit_-_basic.htm</a>
        </p>
        <p><a href="Sanskrit_-_basic_with_Nemeth.htm">Sanskrit_-_basic_with_Nemeth.htm</a>
        </p>
        <p><a href="../../language_translation_tables/sanskrit.htm">SANSKRIT - Technical</a>
        </p>
    </body>
</html>