<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="106" MadCap:lastWidth="624">
    <head>
    </head>
    <body>
        <h1>Sinhala</h1>
        <p><a href="Sinhala_-_basic.htm">Sinhala_-_basic.htm</a>
        </p>
        <p><a href="Sinhala_-_basic_with_Nemeth.htm">Sinhala_-_basic_with_Nemeth.htm</a>
        </p>
        <p><a href="../../language_translation_tables/sinhala.htm">SINHALA - Technical</a>
        </p>
    </body>
</html>