<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="80" MadCap:lastWidth="624">
    <head>
    </head>
    <body>
        <h1>Slovenian</h1>
        <p><a href="Slovenian_-_basic.htm">&#160;</a><a href="Slovenian_-_basic.htm">Slovenian_-_basic.htm</a>
        </p>
        <p><a href="../../language_translation_tables/slovenian.htm">SLOVENIAN - Technical</a>
        </p>
    </body>
</html>