<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="80" MadCap:lastWidth="624">
    <head>
    </head>
    <body>
        <h1>Sotho</h1>
        <p><a href="Sotho_(Southern_and_Northern_(Pedi))_-_basic.htm">Sotho_(Southern_and_Northern_(Pedi))_-_basic.htm</a>
        </p>
        <p><a href="../../language_translation_tables/sotho.htm">SOTHO - Technical</a>
        </p>
    </body>
</html>