<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="104" MadCap:lastWidth="624">
    <head>
    </head>
    <body>
        <h1>Udmart</h1>
        <p><a href="Udmurt_-_basic.htm">Udmurt_-_basic.htm</a>
        </p>
        <p><a href="../../language_translation_tables/udmart.htm">UDMART - Technical</a>
        </p>
        <p>Delete this text and replace it with your own content.</p>
    </body>
</html>