<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="106" MadCap:lastWidth="624">
    <head>
    </head>
    <body>
        <h1>Ukranian</h1>
        <p><a href="Ukrainian_-_basic.htm">Ukrainian_-_basic.htm</a>
        </p>
        <p><a href="../../language_translation_tables/ukrainian.htm">UKRANIAN - Technical</a>
        </p>
        <p><a href="../../language_translation_tables/ukranian_uncontracted.htm">UKRANIAN Uncontracted - Technical</a>
        </p>
    </body>
</html>