<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="230" MadCap:lastWidth="624">
    <head>
    </head>
    <body>
        <h1>Urdu</h1>
        <p>&#160;</p>
        <hr />
        <p><a href="Urdu_(Indian)_-_basic.htm">Urdu_(Indian)_-_basic.htm</a>
        </p>
        <p><a href="Urdu_(Indian)_-_basic_with_Nemeth.htm">Urdu_(Indian)_-_basic_with_Nemeth.htm</a>
        </p>
        <p><a href="../../language_translation_tables/urdu_india.htm">URDU India - Technica</a>l</p>
        <hr />
        <p><a href="Urdu_(Pakistani)_-_basic.htm">Urdu_(Pakistani)_-_basic.htm</a>
        </p>
        <p><a href="../../language_translation_tables/urdu_pakistan.htm">URDU Pakistan - Technical</a>
        </p>
    </body>
</html>