<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="106" MadCap:lastWidth="624">
    <head>
    </head>
    <body>
        <h1>Vietnamese</h1>
        <p><a href="Vietnamese_-_basic.htm">Vietnamese_-_basic.htm</a>
        </p>
        <p><a href="../../language_translation_tables/vietnamese.htm">VIETNAMESE - Technical</a>
        </p>
        <p><a href="../../language_translation_tables/Vietnamese_uncontracted.htm">VIETNAMESE Uncontracted - Technical</a>
        </p>
    </body>
</html>