<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="154" MadCap:lastWidth="641">
    <head>
    </head>
    <body>
        <h2 class="chapter">
            <MadCap:keyword term="Xhosa" />Xhosa <img src="../../Resources/Images/flags/southafrica.gif" title="Flag of South Africa" alt="Flag of South Africa" class="flag" /></h2>
        <p><a href="Xhosa_-_basic.htm">Xhosa - basic.htm</a>
        </p>
        <hr />
        <p><a href="../../language_translation_tables/xhosa.htm">XHOSA - Technical</a>
        </p>
    </body>
</html>