<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="130" MadCap:lastWidth="624">
    <head>
    </head>
    <body>
        <h1>Special Templates</h1>
        <p>The following Templates, generally speaking, do not apply to a specific language.</p>
        <p><a href="Biblical_original_language_studies_-_basic.htm">Biblical_original_language_studies_-_basic.htm</a>
        </p>
        <p><a href="EBU_Pharmaceutical.htm">EBU_Pharmaceutical.htm</a>
        </p>
        <p><a href="IPA_-_basic.htm">IPA_-_basic.htm</a>
        </p>
    </body>
</html>